@import '../../../scss/_variable.scss';

.header-wrapper {

    .header {
        padding: 20px;
        background-color: $white-color;

        .logo {
            height: 60px;
            width: 200px;

            .logo-img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .menu-icon {
                margin-right: 20px;
            }
        }

        .ul-div {
            transition: all 0.2s linear;

            .nav-links {
                transition: all 0.2s linear;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0;
                list-style: none;

                .nav-link {
                    margin: 0 10px;

                    .link {
                        text-decoration: none;
                        color: $main-secondary-color;
                        font-weight: $fw-600;
                        transition: all 0.2s linear;

                        &:hover {
                            color: $main-primary-color ;
                        }

                        @media screen and (max-width:1200px) {
                            span {
                                font-size: 12px;
                            }
                        }
                    }
                }

            }
        }

        .header-icon {
            margin-right: 20px;
            color: $main-secondary-color;

            &:last-child {
                margin-right: 0;
            }
        }

        .menu-icon,
        .close-icon {
            display: none;
        }
    }

    @media screen and (max-width:768px) {
        .ul-div-disable {
            display: none;
            transition: all 0.2s linear;
        }

        .ul-div-active {
            display: block;
            transition: all 0.2s linear;
        }

        .nav-links {
            position: fixed;
            flex-direction: column;
            background-color: white;
            width: 200px;
            height: 100vh;
            top: 0;
            left: 0;
            padding: 10px;
            z-index: 10;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            transition: all 0.2s linear;

            .nav-link {
                margin: 15px auto !important;
                width: 90%;
                text-align: center;

                .link {
                    padding: 10px;
                    height: 100%;
                    width: 100%;
                    display: block;

                    &:hover {
                        background-color: $main-secondary-color;
                    }
                }
            }
        }

        .menu-icon,
        .close-icon {
            display: block !important;
        }

        .close-icon {
            position: absolute;
            top: 20px;
            right: 20px;
            color: $main-primary-color;
        }
    }
}