@import '../../scss/_variable.scss';
.container-wrapper{
    
    .card-main{
        background-color: $white-color;
        border: 1px solid $shadow-light;
        border-radius: $br-8;
        box-shadow: 0px 0px 7px 1px $shadow-light;
        transition: all 0.2s linear;
        &:hover{
            transform: scale(1.02);

        }
    }
    .card-img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .card-btn{
        background-color: $main-primary-color;
        width: 100%;
        color: $white-color; 
        
        &:hover{
            background-color: $main-secondary-color;
        }
    }
    .counter{
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .showcount{
       margin: 0px 15px;
       font-size: $fs-20;
       font-weight: $fw-600;
    }
    .iconbtn{
        border-radius: $br-50;
        border: 1px solid #000;
        
    }
    .card-price{
        display: flex;
        padding-top: 12px;
        
    }
    .price{
        font-weight: $fw-600;
        font-size: $fs-18;
        color: $main-primary-color;
    }
    .discount-price{
        margin: 0px 10px;
        font-size: $fs-14;
        margin-top: 5px
    }   
}
